/.emacs-custom
/.smex-items
/auto-save-list
/backups
/elpa
/eshell/history
/places
/bookmarks
/url/cookies
/%backup%~
/swank/slime-dbd975fa.el
/swank/slime-dbd975fa.elc
/swank/slime-eldoc-d8b3cf74.el
/swank/slime-eldoc-d8b3cf74.elc
/swank/slime-frame-colors-a24dd450.el
/swank/slime-frame-colors-a24dd450.elc
/swank/slime-repl-79b38c83.el
/swank/slime-repl-79b38c83.elc
/tramp
/server/server
/server/server8340
/.org-id-locations
/server/
/projectile-bookmarks.eld
/projectile.cache
/eshell/lastdir
/.emacs.desktop.lock
/desktop
/url/
/.emacs.desktop
/abbrev_defs
/ac-comphist.dat
/persp-confs
/request
/recentf
/smex-items
